@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Liter&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Holtwood+One+SC&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Liter&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.uppercase {
    text-transform: uppercase;
}

body {
    background: linear-gradient(to bottom,
     #003648 0%,
     #3745B4 50%,
     #18051F 100%
     );
    background-repeat: no-repeat;
    margin: 0;

    /* Fontes */

    font-family: "Liter", sans-serif;
    font-weight: 700;
    font-style: normal;
    font-size: 16px;
}


/* Header */

    .navbar {
        margin-right: 5rem;
    }

    .navbarCustom {
        padding: 0.8rem 2rem;
    }

    .dropdown-item{
        color: #000000 !important;
        display: flex;
        gap: 1rem;
        text-align: center;
        align-items: center;
    }
    
    .text-primary{
        color: blue !important;
    }

    .text-danger {
        color: red !important;
    }

    .header-index {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 5rem;
    }

    .log-div {
        background-color: #E1E1E1;
        display: flex;
        align-items: center;
        justify-content: space-around;
        gap: 2rem;

        height: 80%;

        margin-top: 1rem;
        border-radius: 5px;

        .spanIcon {
            margin: 1.2rem 1.5rem;
            padding: 0;
            border-radius: 5px;
        }
    }

    .log-div span {
        padding-left: 2rem;
    }

    .log-div a {
        color: white;
        text-decoration: none;
        font-weight: 500;
    }

    header img {
        width: 5rem;
        margin-left: 5rem;
        margin-top: 1rem;
    }

/* ================================ */
/*        login.html e outros       */
/* ================================ */

    .esquerda-card {
        border-radius: 20px 0px 0px 20px;
        z-index: 1;
    }

    .direita-card {
        border-radius: 0px 20px 20px 0px;
        z-index: 1;    
    }

    .container-pai{
        background-color: #262626;
        max-height: 70vh;
        border-radius: 20px;
    }

    .card-container {
        width: 100%;
        height: 70vh;
        content: "";
        background-color: #262626;
        border-radius: 20px;
        position: relative;
        overflow: hidden;
    }


    .card-container::after {
        position: absolute;
        width: 100%;
        height: 70vh;
        content: "";
        background-image: url("../assets/fundo-branco.png");
        transform: translateX(-50%);
        z-index: 0;
        background-size: cover;
    }

    /* Login ativo */
        
        .card-container.loginActive .card-register {
            opacity: 0;
            pointer-events: none;
        }

        .card-container.loginActive .card-login-redirection {
            opacity: 0;
            pointer-events: none;
        }

        .card-container.loginActive::after {
            transform: translateX(-50%);
        }

    /* Register ativo */
        
        .card-container.registerActive .card-login {
            opacity: 0;
            pointer-events: none;
        }

        .card-container.registerActive .card-register-redirection {
            opacity: 0;
            pointer-events: none;
        }

        .card-container.registerActive::after {
            transform: translateX(50%);
        }

    /* Transitions */

    .card-container::after {
        transition: all 0.7s;
    }

    /* Card de redirecionamento */

        .card-redirection {

            /* Configuração flex  */
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            width: 30vw;

            color: #000000;

        }

        .card-container h2 {
            font-weight: 700;
            font-size: 1.5rem;
        }

        .card-container h1 {
            font-weight: 800;
        }

        .card-container h1 span{
            color: #0082AE;
        }

        .card-container p {
            font-size: 0.8rem;
            margin-top: 2rem;
        }

        .card-container .btn-custom {
            background-color: #262626;
            color: white;
            width: 250px;
            height: 50px;

            font-weight: 500;
            font-size: 0.9rem;   
        }

        .card-container .btn-custom:active {
            background-color: #262626;
            color: white;
        }


    /* Card com forumlários */

        form {
            max-height: 70%;
        }

        .card-form {

            /* Configuração flex  */
            height: 100%;
            display: flex;
            align-items: center;
            justify-content: center;
            flex-direction: column;

            width: 30vw;

            /* Cor da letra */
            color: #E1E1E1;
        }

        .card-form h1{
            font-size: 1.8rem;
        }

        .card-register form, .card-login form {
            width: 80%;
        }

        .input-container {
            display: flex;
            flex-direction: column;
            font-weight: 400;
            font-size: 0.9rem;
        }

        .input-container input, .input-container select {
            background-color: transparent;
            border: 1px solid white;
            margin-top: 6px;
            margin-bottom: 15px;

            border-radius: 5px;
            width: 100%;
            height: 3rem;

            color: white;

            padding: 10px;
        }

        .custom-input-loginAndRegister {
            height: 50px;
        }

        .custom-input-loginAndRegister:focus, .custom-input-loginAndRegister:hover {
            box-shadow: 0px 0px 10px 0px #ffffff;
        }

        form a {
            text-decoration: none;
            font-size: 0.7rem;
        }

        .input-submit {
            height: 50px;
            margin-top: 6px;
            border-radius: 5px;
            border: none;

            font-weight: 800;
            color: #262626;
        }

    /* Footer */

        footer {
            display: flex;
            justify-content: center;
            align-items: center;

            padding: 0.5rem;
            bottom: 0;
            width: 100%;
            position: fixed;

            font-size: 0.8rem;

            font-weight: 400;
            background-color: #060817;
            color: #ffffffc2;
        }

        .card-login-redirection, .card-register-redirection, .card-login, .card-register{
            min-height: 70vh;
        }

        .card-login-redirection, .card-register-redirection {
            position: absolute;
        }
        
    /* Responsividade */

    @media (max-width: 980px) {
        .card-redirection {
            display: none;
        }

        .card-login, .card-register {
            border-radius: 10px;
            width: 100%;
        }
    }

/* ================================ */
/*      Fim login.html e outros     */
/* ================================ */

/* ================================ */
/*        index.html e outros       */
/* ================================ */

/* Cards form */

    .optionDisabled {
    color: rgb(177, 177, 177);
    }

    ::-webkit-input-placeholder {
    color: rgb(177, 177, 177);
    }

    :-moz-placeholder { /* Firefox 18- */
    color: rgb(177, 177, 177);  
    }

    ::-moz-placeholder {  /* Firefox 19+ */
    color: rgb(177, 177, 177);  
    }

    :-ms-input-placeholder {  
    color: rgb(177, 177, 177);  
    }

    .card-form-custom-index {
        margin-top: 2rem;

        width: 100%;
        background-color: #14004039;
        border-radius: 10px;

        box-shadow: -2px 2px 0px 0px #00000035;
    }

    .card-form-custom-index .tittle {
        background-color: #2020204e;
        width: 100%;

        font-size: 0.9rem;
        font-weight: 500;
        padding: 0.5rem;

        padding-left: 15px;

        border-radius: 10px 10px 0px 0px;
    }

    .card-form-custom-index .input-submit {
        margin: 1rem 0rem;
        height: 2.5rem;
    }

    .card-form-custom-index form {
        width: 100%;
        padding: 1rem 1rem;
    }

    .select select{
        padding: 0px;
        font-size: 0.9rem;

        color: rgb(226, 232, 255);
    }

    option {
        background-color: #202020;
        color: white;

        padding-left: 1rem;
    }

    #calcular {
        display: flex;
        flex-direction: column;
        justify-content: start;

        height: 100%;
    }

    #table {
        width: 90%;
        padding: 0;
        
        margin-bottom: 5rem;
    }

    /* Table */
        table {
            width: 98%;
            margin: 0.7rem 0;
            border-collapse: collapse;
        }
        
        thead {
            background-color: #111;
            color: white;
        }
        
        th, td {
            padding: 12px;
            text-align: left;
        }
        
        td {
            color: #000000;
            font-weight: 400;
        }

        tbody tr:nth-child(odd) {
            background-color: #eee; /* cinza claro */
        }
        
        tbody tr:nth-child(even) {
            background-color: #ddd; /* cinza um pouco mais escuro */
        }

        .acao {
            display: flex;
            gap: 0.5rem;
        }




/* 
  =====================================
==========================================

                Sprint 2                  
            Segunda parte css
            
==========================================
  ======================================
*/

/* Trailer em destaque */

.white {
    color: white;
}


.movie_destaque{
    overflow: hidden;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    z-index: -3;

    max-height: 110vh;
}

.dropColor {
    width: 100%;
    min-height: 200vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -2;
    background: linear-gradient(to bottom, transparent 0%, rgb(14, 14, 14) 50%, black 100%);
}

.main-movie-info {
    color: white;

    h1 {
        font-size: 3rem;
    }

    p {
        font-weight: 400;
        width: 60%;
    }

    button {
        width: 20%;

        font-weight: 500;

        border: white 1px solid;
        border-radius: 10px;
        align-items: center;
        padding: 0.5rem;   
        text-align: center;
        background-color: transparent;
        font-size: 1rem;
        color: white;
    }
}

.sub-dados , .priceMainMovie{
    color: rgb(212, 212, 255);
}


/* Sliders */

/* Estilo das Setas */
.slider-arrow {
  background: rgba(0, 0, 0, 0.5);
  color: white;
  border: none;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  font-size: 20px;
  cursor: pointer;
  position: absolute;
}

.left-arrow{
    left: 200;
}

.right-arrow{
    right: 200;
}

.slider-wrapper {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-bottom: 2rem;
}

.slider-arrow:hover {
  background: rgba(0, 0, 0, 0.8);
}

.sliderMovies-container{
    -ms-overflow-style: none;  /* IE e Edge */
    scrollbar-width: none;  /* Firefox */
    overflow-x: auto;
}

.slider-container::-webkit-scrollbar {
  display: none; /* Chrome, Safari e Opera */
}

.sliderMovies {
    overflow-x: auto;
    width: max-content;
    position: relative;
    display: flex;
    gap: 2rem;
    display: inline-flex;

    transition: 1s ease;
}

.itemSlider{
    width: 180px;
    height: 270px;
    transition: 0.5s;   
    color: white;
    transition: 1s ease;
    overflow: hidden;
    display: block;
    position: relative;
}

.hover {
    padding: 0.5rem;
    top: 0;
    opacity: 0;
    font-size: 0.5rem;
    width: 100%;
    height: 270px;
    pointer-events: none;
    transition: 1s ease;
    opacity: 0;
}

.hover h1{
    margin-top: 2rem;
    font-size: 1.5rem;
    font-family: "Holtwood One SC", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.hover button {
    border: white 1px solid;
    border-radius: 10px;
    align-items: center;
    padding: 0.5rem;   
    text-align: center;
    background-color: transparent;
    font-size: 1rem;
    color: white;
    pointer-events: all;
    cursor: pointer;
    
    margin-top: 1rem;
    margin-left: 13rem;
}

.sinopseHoverConteudo{
    font-weight: 400;
    font-size: 0.8rem;
}

.priceHover {
    font-size: 0.8rem;
    color: #00C8FF;
}

.imgSlider {
    position: absolute;
    width: 100%;   
    height: auto;
    transition: 1s ease;
    object-position: center;

    z-index: -1;
}

.itemSlider:hover {
    width: 400px;
    height: 350px;
    background: linear-gradient(to bottom, transparent 0%, black 90%, black 100%);


    .hover {
        width: 400px;
        height: 100%;
        opacity: 1;
    }
} 

#containerMainPage {
    display: flex;
    flex-direction: column;
}

/* ConfigAdmin.php */

.forms-configadmin{
    flex-direction: column;
}

.containerIFB{
    border-radius: 10px;
    padding: 1rem;
    background-color: #06073a3b;
    margin-bottom: 2rem;

    font-weight: 400;
}

.filmeBuscadoContainer {
    border-radius: 10px;
    padding: 1rem;
    background-color: #10128f3b;
}

.infosFilmeBuscado{
    display: flex;
    width: 100%;
    justify-content: space-between;
}

.ifb {
    padding: 0 1rem;
}

.filmeBuscado {
    align-items: center;
    display: flex;
    justify-content: space-between;
}

.imgTable {
    width: 200px;
    height: auto;
}

/* Carrinho */

.itemCarrinho {
    width: 100%;
    background-color: #D9D9D9;
    color: rgb(0, 0, 0);
}

.precoTopTittle{
    margin-right: 5rem;
}

.itemCarrinho p {
    margin-bottom: 0;
}

.conteudoCarrinho {
    width: 100%;
    display: flex;
}

.itensCarrinhos {
    width: 100%;
}

.infosFilmeCarrinho {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 100%;
    padding: 0.5rem 1rem;
}

.tittleCarrinho {
    font-size: 1.5rem;
}

.sinopseCarrinho{
    margin: 1.5rem 0rem;
}

.red {
    color: red;
}

.sinopseCarrinho p {
    font-weight: 400;
    font-size: 1rem;
}

.sinopseCarrinho h1 {
    font-weight: 600;
    font-size: 1.3rem;
}

.topInfos{
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.topInfos .preco {
     margin-right: 4.5rem;
}

.subInfosCarrinho{
    font-size: 0.8rem;
    font-weight: 400;
}

.itemCarrinho img {
    width: 200px;
}

.topTittle {
    height: 100%;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    color: white;
    width: 100%;
    background-color: #000000;
}

.filmeDisponivel{
    margin-bottom: 0.5rem;
}

.dias select {
    padding: 0.5rem ;
    width: 100%;
}
.inputs {
    display: flex;
    justify-content: space-between;
}

.itemCarrinho button {
    border: none;
    background-color: #D9D9D9;
    margin-bottom: 0;
    padding-bottom: 0 !important;
}